body {
	margin: 0;
	overflow: hidden;
}

#pingDisplay {
	position: absolute;
	font-family: Verdana;
	z-index: 9999;
}

.server-message {
	color: green;
}

.emoji {
	font-size: 20px;
}

#flairs {
	display: none;
}

#message-form {
	padding: 3px;
	position: relative;
	bottom: 0;
	width: 600px;
	overflow: hidden;
}

#m {
	padding: 10px;
	width: 580px;
	margin-right: .5%;
	border-radius: 10px;
}

#messages {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	width: 600px;
	height: 145px;
	overflow: hidden;
	overflow-y: scroll;
}

#messages li:nth-child(odd) {
	background: #cecece;
}

#messages li {
	padding: 5px 10px;
	font-size: 14px;
	font-family: Verdana;
}

#chat {
	position: absolute;
	top: 75%;
	left: 65%;
	width: 600px;
	height: 200px;
	z-index: 9999;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 10px;
}